.App {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: red;
}
.topSide {
  height: 50%;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botSide {
  height: 50%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.listContainer {
  display: flex;
  overflow-x: auto;
}

.containerView {
  display: flex;
  width: 100%;
  height: 100%;
}

.oneCompareSide {
  display: flex;

  align-items: center;
  width: 50%;
  color: #c5c6c7;
}

.divider {
  height: 100%;
  width: 2px;
  border-radius: 8px;
  background-color: #c5c6c7;
  opacity: 0.1;
}

.compareContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: opc 2s;
}

.compareName {
  font-size: 40px;
  margin-bottom: 12px;
}

.compareBoxe {
  display: flex;
  justify-content: center;
  padding: 16px;
  border-top: 1px solid #66fcf1;
  border-bottom: 1px solid #66fcf1;
  font-size: 24px;
  width: 40%;
}

.deleteButtonStyle {
  margin-top: 40px;
  padding: 8px 32px;
  border-radius: 4px;
  background-color: #0b0c10;
  border: 2px solid #66fcf1;
  font-size: 20px;
  transition: 2s all;
  color: #66fcf1;
}

.deleteButtonStyle:hover {
  background-color: #1f2833;
  cursor: pointer;
  color: #45a29e;
}

.imageStyle {
  max-width: 140px;
  height: 140px;
}

.listContainer::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1d;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #4cc5bd;
}

::-webkit-scrollbar-thumb:hover {
  background: #5af3e9;
}

@keyframes opc {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  .listContainer {
    display: flex;
    overflow-x: scroll;
  }
}

@media (max-width: 380px) {
  .containerView {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
  .divider {
    width: 80%;
    height: 8px;
    border-radius: 8px;
    background-color: #c5c6c7;
    opacity: 0.1;
  }
}
